{% load static %}
{% load tags %}
{% get_popular_posts as popular_posts %}
{% get_categories as cats  %}
{% get_tags as tags %}

<div class="col-md-12 col-lg-4 sidebar">
    <div class="sidebar-box search-form-wrap">
        <form action="#" class="search-form">
            <div class="form-group">
                <span class="icon fa fa-search"></span>
                <input type="text" class="form-control" id="s" placeholder="Type a keyword and hit enter">
            </div>
        </form>
    </div>
    <!-- END sidebar-box -->
    <div class="sidebar-box">
        <div class="bio text-center">
            <img src="{% static 'images/img_1.jpg' %}" alt="Image Placeholder" class="img-fluid">
            <div class="bio-body">
                <h2>MIMO</h2>
                <p>Amaliyot va tajriba o‘rnini hech narsa bosa olmaydi – O‘rganayotgan bilimlaringizni kichik
                    loyihalarda sinab ko‘ring va kod yozishni odat qiling. Xatolaringizni tahlil qilib, ulardan saboq
                    oling. Har bir muvaffaqiyatsizlik sizni o‘stiradi.</p>
                <p><a href="#" class="btn btn-primary btn-sm">Read my bio</a></p>
                <p class="social">
                    <a href="#" class="p-2"><span class="fa fa-facebook"></span></a>
                    <a href="#" class="p-2"><span class="fa fa-twitter"></span></a>
                    <a href="#" class="p-2"><span class="fa fa-instagram"></span></a>
                    <a href="#" class="p-2"><span class="fa fa-youtube-play"></span></a>
                </p>
            </div>
        </div>
    </div>
    <!-- END sidebar-box -->
    <div class="sidebar-box">
        <h3 class="heading">Popular Posts</h3>
        <div class="post-entry-sidebar">
            <ul>
                <li>
                    {% for post in popular_posts %}
                    <a href="/blog/{{ post.id }}">
                        <img src="{{ post.image2.url }}" alt="Image placeholder" class="mr-4">
                        <div class="text">
                            <h4>{{ post.title }}</h4>
                            <div class="post-meta">
                                <span class="mr-2">{{ post.created_at }}</span> &bullet;
                                <span class="ml-2"><span class="fa fa-comments"></span> {{ post.comments_count }}</span>
                                <span class="ml-2"><span class="fa fa-eye"></span> {{ post.views_count }}</span>
                            </div>
                        </div>
                    </a>
                    {% endfor %}
                </li>
            </ul>
        </div>
    </div>
    <!-- END sidebar-box -->

    <div class="sidebar-box">
        <h3 class="heading">Categories</h3>
        <ul class="categories">
            {% for cat in cats %}
            {% if cat.post_counter >= 1 %}
            <li><a href="/category/{{ cat.id }}">{{ cat.name }}<span>{{ cat.post_counter }}</span></a></li>
            {% else %}
            <li><a href="/buyerda404">{{ cat.name }}<span>{{ cat.post_counter }}</span></a></li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
    <!-- END sidebar-box -->

    <div class="sidebar-box">
        <h3 class="heading">Tags</h3>
        <ul class="tags">
            {% for tag in tags %}
            <li><a href="/tag/{{ tag.id }}">{{ tag.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>